# PostgreSQL Configuration
DB_HOST=172.19.0.6
DB_PORT=5432
DB_NAME=appdb
DB_USER=postgres
DB_PASSWORD=your_secure_postgres_pass

DATABASE_URL=postgresql://postgres:your_secure_postgres_pass@172.19.0.6:5432/appdb

POSTGRES_HOST=172.19.0.6
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_postgres_pass
POSTGRES_DB=appdb
POSTGRES_SSLMODE=disable

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_secure_redis_pass

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:9094

# ASP.NET Connection Strings
ConnectionStrings__PostgreSql=Host=172.19.0.6;Port=5432;Database=appdb;Username=postgres;Password=your_secure_postgres_pass;SearchPath=core;
ConnectionStrings__Redis=localhost:6379,password=your_secure_redis_pass,abortConnect=false
